<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <fieldset>
      <legend>Gyro and accelerometer</legend>
      <h2>Gyro: </h2>
      <p> x: <%= gyroX %> | y: <%= gyroY %> | z: <%= gyroZ %> </p>
      <h2>Accelerometer: </h2>
      <p> x: <%= accX %> | y: <%= accY %> | z: <%= accZ %> </p>
    </fieldset>

  </body>
</html>
